@font-face {
    font-family: 'GothamBold';
    src: url('./font/Gotham\ Bold.otf');
}

h1,
body{
    margin: 0;
}

body{
    background-image: url(./images/restaurant-interior.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: GothamBold;
    height: 100vh;
}

nav{
    margin-top: 10px;
    justify-self: center;
    align-self: center;
}

#content{
    flex: 0;
    color: #eee;
    background-color: rgba(0, 0, 0, 0.568);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;;
}

.headline{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 750px;
    border-radius: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#home-headline{
    background-color: rgba(0, 0, 0, 0.568);
}

.tab-link{
    font-size: 25px;
    border: solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
}

.info{
    flex: 1;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    
}

#pizza-logo,
.item-picture{
    max-width: 50px;
    max-height: 50px;
}

.menu-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 50px;
    padding-top: 0px;
}

.item{
    background-color: rgba(0, 0, 0, 0.671);
    border-radius: 15px;
    padding: 15px;
    min-height: 250px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-block{
    background-color: rgba(0, 0, 0, 0.671);
    padding: 25px;
}

.contact-block{
    background-color: rgba(0, 0, 0, 0.671);
    border: solid;
    margin-top: 50px;
    margin-bottom: 25px;
    padding: 10px;
}

#about-section,
#hours-section{
    border-bottom: none;
}

.employees-block{
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    gap: 25px;
}

.employees-block h2{
    text-align: center;
}

.employee{
    background-color: rgba(0, 0, 0, 0.671);
    border-radius: 15px;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.employee img{
    max-width: 100px;
    max-height: 100px;
}